<config>
    <modules>
        <TestTask_Logger>
            <version>0.0.1</version>
        </TestTask_Logger>
    </modules>
    <global>
        <models>
            <logger>
                <class>TestTask_Logger_Model</class>
                <resourceModel>testtask_logger_resource</resourceModel>
            </logger>
            <testtask_logger_resource>
                <class>TestTask_Logger_Model_Resource</class>
                <entities>
                    <login_history>
                        <table>logger_history</table>
                    </login_history>
                </entities>
            </testtask_logger_resource>
        </models>
        <resources>
            <logger_setup>
                <setup>
                    <module>TestTask_Logger</module>
                    <class>TestTask_Logger_Model_Resource_Setup</class>
                </setup>
            </logger_setup>
        </resources>

        <helpers>
            <logger>
                <class>TestTask_Logger_Helper</class>
            </logger>
        </helpers>
        <blocks>
            <logger>
                <class>TestTask_Logger_Block</class>
            </logger>
        </blocks>

        <events>
            <customer_login>
                <observers>
                    <logger>
                        <type>model</type>
                        <class>logger/observer</class>
                        <method>logCustomer</method>
                    </logger>
                </observers>
            </customer_login>
        </events>
    </global>

    <frontend>
        <routers>
            <logger>
                <use>standard</use>
                <args>
                    <module>TestTask_Logger</module>
                    <frontName>logger</frontName>
                </args>
            </logger>
        </routers>

        <layout>
            <updates>
                <logger>
                    <file>logger.xml</file>
                </logger>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <logger>
                                            <title>Logger - All</title>
                                        </logger>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>